<div class="project">
  <img src="assets/images/tweet_generator.png" alt="Tweet Generator" class="demoPic">
  <div class="description">
    <h2>Tweet Generator</h2>
    <p>Simple website in flask that uses markov chains and natural language processing to generate a sensible random sentence using the novel <em>Dracula</em> by Bram Stoker as a source.</em></p>
  </div>
  <div class="projectBtns">
      <button class="projectBtn" onclick="window.open('https://tweet-generator-ec.herokuapp.com/', '_blank');">Live Demo</button>
      <button class="projectBtn" onclick="window.open('https://github.com/edwintcloud/tweet-generator', '_blank');">Github Repo</button>
  </div>
</div>
  
  