html,
body {
    height: 100%;
    margin: 0;
    color: rgba(255, 255, 255, .7);
    font-size: 1em;
    font-weight: 100;
    font-family: sans-serif;
    background-color: #292929;
}

a,
button {
    cursor: pointer;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "h h h h s"
                         "b b b b s"
                         "f f f f s";
    grid-template-rows: 10vh 1fr 5vh;
    background-color: #292929;
}

.header {
    background-color: #292929;
    grid-area: h;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.sidebar {
    background-color: #292929;
    grid-area: s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    background-color: rgb(51, 51, 51);
    grid-area: b;
    padding: 5vh 5vw;
    border-radius: 0 20px 20px 0;
}

.footer {
    background-color: #292929;
    grid-area: f;
}

.navbar > a:not(:last-child) {
    margin-right: 2em;
}

.navbar {
    margin-right: 8px;
}

.sidenav {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
}
.sidenav > a {
    margin-left: 10px;
}

.sidenav > a:not(:last-child) {
    margin-bottom: 2em;
}

.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyright {
    font-style: normal;
    margin-right: 8px;
}

.active {
    color: white;
}


.dot {
    border: 1px solid white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.dot.filled {
    background-color: white;
}

.dot:not(:last-child) {
    margin-right: 8px;
}

.pagination {
    display: none;
    padding: 8px 0;
}

.aboutPic {
    border-radius: 50%;
    max-width: 50%;
    width: 40vh;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    font-size: 1.4em;
    text-align: center;
}

.bio {
    margin-left: 10px;
}

.contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}

.email {
    margin-bottom: 30px;
    font-size: 1.5em;
}

.emailBtn {
    background-color: rgba(6, 39, 64, .7);
    color: aliceblue;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1.5em;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    font-size: 1.4em;
    text-align: center;
}

.description {
    margin-left: 10px;
}

.projectBtn {
    background-color: rgba(6, 39, 64, .7);
    color: aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
}

.emailBtn:hover,
.projectBtn:hover {
    background-color: rgba(6, 39, 64, 1);
}

.emailBtn:focus,
.projectBtn:focus {
    outline: none;
}

.demoPic {
    border-radius: 5px;
    max-width: 100%;
    max-height: 30vh;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.description {
    margin-bottom: 10px;
}

.pagination.side {
    flex-direction: column;
}

.pagination.side > div:not(:last-child) {
    margin-bottom: 8px;
}

@media (max-width: 700px) {
    .container {
        grid-template-areas: "h h h s s"
                             "b b b s s"
                             "f f f s s";
    }
    .navbar > a:not(:last-child) {
        margin-right: 5px;
    }

    .header {
        flex-direction: column;
    }

    .pagination {
        display: flex;
    }

    .aboutMe,
    .project {
        flex-direction: column;
        justify-content: space-around;
        font-size: 1em;
    }

    .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .bio > p {
        align-self: flex-end;
    }

    .bio > h2,
    .bio > p {
        margin: 0;
        margin-top: 5px;
    }

    .projectBtns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .projectBtn {
        margin-bottom: 6px;
        text-align: center;
        line-height: 0;
        border-radius: 5px;
        font-size: .8em;
    }
}

@media (max-height: 500px) {
   .aboutMe,
   .project {
       font-size: .8em;
   }

   .header {
       font-size: .8em;
   }
}